<div class="ui attached segment">

<h3 class="ui header">Interpretation Hints</h3>
<div class="ui text wrap">

<p>Values are normalised to show relative effects.</p>
<p>For area burnt, life loss, house loss, powerline length damaged and road length damaged, one (1) represents the no treatment case. Other values are relative to this – if greater than one, the risk is higher than for no treatment and vice versa.</p>
<p>For area burnt below minimum TFI, one represents the maximum risk case, which may not be at zero treatment. Other values are relative to this and should be interpreted as above.</p>

  <p>Note that risk is greater than zero for all landscapes, values and treatment rates and location i.e. risk mitigation is partial and residual risk remains. </p>
  <p>Please follow our guidance on <a href="/faq#results">interpreting results</a>.</p>

</div>
</div>
