<div class="collapsing"><sui-message>
  <div class="content">
  <h3 class="ui header">
    <i class="circular search icon"></i>
    <div class="content">
      Interpretation Hints
    </div>
  </h3>

  <p>Values are normalised to show relative effects.</p>

  <p>One (1) represents the no treatment case for area burnt, life loss, house loss, powerline length damaged and road length damaged. Other values represent the effect of treatment relative to this – values below one represent a decrease in risk compared to no treatment. Values above one represent an increase in risk and are shown in grey.
</p>
  <p>For area burnt below minimum TFI, risk tends to increase with increasing treatment so the scale is reversed i.e. values below one represent an increase in risk compared to no treatment and vice versa. Values above one represent a decrease in risk and are shown in grey.</p>

  <p>Note that risk is greater than zero for all landscapes, values, treatment rates and locations i.e. risk mitigation is partial and residual risk remains.</p>

</div>
</sui-message>
</div>
