<footer class="ui inverted segment foot">
    <div class="ui container">
        <div class="ui relaxed divided grid">
            <div class="ui eight wide column">
                <div class="ui relaxed list">
                    <div class="item">&copy; 2019 <a href="">University of Wollongong</a></div>
                </div>
            </div>

            <div class="ui four wide column">
                <h3 class="header">Proudly supported by:</h3>
                <ul class="ui list">
                    <li class="item">Bushfire & Natural Hazards Cooperative Research Centre</li>
                    <li class="item"><a href="http://www.uow.edu.au">University of Wollongong</a></li>
                    <li class="item"><a href="http://www.unimelb.edu.au">University of Melbourne</a></li>
                    <li class="item"><a href="https://www.westernsydney.edu.au/">Western Sydney University</a></li>
                </ul>
            </div>

            <div class="ui four wide column">
                <div class="ui inverted placeholder">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>

        </div>
    </div>
</footer>