<footer class="ui inverted segment foot">
    <div class="ui container">
        <div class="ui relaxed divided grid">
            <div class="ui four wide column">
                <div class="ui relaxed list">
                    <div class="item tiny">&copy; 2019 <a href="http://bnhcrc.com.au" target="_blank">BNHCRC</a></div>
                    <div class="item tiny">Version: {{version}}</div>
                    <div class="item"><a routerLink="/disclaimer">Disclaimer</a></div>
                </div>
            </div>
            <div class="ui four wide column uws_white">
                <a href="https://bnhcrc.com.au/">
                  <img
                        class="ui image"
                        src="assets/images/bnhcrc-rel1-rgb_low_res.jpg"
                        alt="Bushfire and Natural Hazards Cooperative Research Council"
                    /></a>
            </div>
            <div class="ui two wide column uow_black">
                <a href="http://www.uow.edu.au"><img
                        class="ui image"
                        src="assets/images/uow-logo-square.png"
                        alt="University of Wollongong"
                    /></a>
            </div>
            <div class="ui two wide column uws_white">
                <a
                    href="https://www.westernsydney.edu.au/"
                    alt="Western Sydney University"
                ><img
                        class="ui image"
                        src="assets/images/WSU.png"
                        alt="Western Sydney University"
                    /></a>
            </div>
            <div class="ui two wide column uom_blue">
                <a href="http://www.unimelb.edu.au"><img
                        class="ui image"
                        src="assets/images/04_Logo_Vertical-Housed.jpg"
                        alt="University of Melbourne"
                    /></a>
            </div>
        </div>
    </div>
</footer>
