<!-- draft changes to mapbox styles. Remove this from production! -->
<mgl-map

[style]="style"

 [zoom]="[4.9]" [center]="[141.2, -35.557]" [fitBoundsOptions]="boundsOptions" (mouseMove)="mousemove($event)" (load)="mapLoaded($event)" #mapview>
    <mgl-control mglNavigation position="top-right"></mgl-control>
    <mgl-control mglScale unit="metric" position="top-right"></mgl-control>
    <mgl-geojson-source id="ignitions-source" [data]="ignitions">
        <mgl-feature *ngFor="let g of ignitions.features" [geometry]="g.geometry" properties="g.properties" id="g.id"></mgl-feature>
    </mgl-geojson-source>

    <!-- <mgl-geojson-source id="burnblocks-source" [data]="burnblocks">
        <mgl-feature *ngFor="let g of burnblocks.features" [geometry]="g.geometry" properties="g.properties" id="g.id"></mgl-feature>
    </mgl-geojson-source> -->


    <mgl-geojson-source id="burnblocks-source-edges" [data]="burnblocks_edges">
        <mgl-feature *ngFor="let g of burnblocks_edges.features" [geometry]="g.geometry" properties="g.properties" id="g.id"></mgl-feature>
    </mgl-geojson-source>

    <mgl-geojson-source id="burnblocks-source-landscapes" [data]="burnblocks_landscapes">
        <mgl-feature *ngFor="let g of burnblocks_landscapes.features" [geometry]="g.geometry" properties="g.properties" id="g.id"></mgl-feature>
    </mgl-geojson-source>

    <mgl-geojson-source id="study-detail-source" [data]="study_detail">
        <mgl-feature *ngFor="let g of focus.features" [geometry]="g.geometry" properties="g.properties" id="g.properties.sim_name"></mgl-feature>
    </mgl-geojson-source>

    <mgl-geojson-source id="study-areas-source" [data]="studyareas">
        <mgl-feature *ngFor="let g of studyareas.features" [geometry]="g.geometry" properties="g.properties" id="g.properties.sim_name"></mgl-feature>
    </mgl-geojson-source>




    <mgl-layer id="burnblocks-edge-layer" type="line" source="burnblocks-source-edges" [paint]="{
        'line-color': '#032904',
        'line-opacity': 0.35,
        'line-width': 1.0
      }">
    </mgl-layer>

    <mgl-layer id="burnblocks-edge-fills-layer" type="fill" source="burnblocks-source-edges" [paint]="{
          'fill-color': '#032904',
          'fill-opacity': 0.20
        }">
    </mgl-layer>


    <mgl-layer id="burnblocks-landscape-layer" type="line" source="burnblocks-source-landscapes" [paint]="{
        'line-color': '#6ba30a',
        'line-opacity': 0.35,
        'line-width': 1.0
      }">
    </mgl-layer>

    <mgl-layer id="burnblocks-landscape-fills-layer" type="fill" source="burnblocks-source-landscapes" [paint]="{
          'fill-color': '#6ba30a',
          'fill-opacity': 0.20
        }">
    </mgl-layer>

    <mgl-layer id="ignitions-layer" type="circle" source="ignitions-source" [paint]="{
          'circle-radius': {
          'base': 2.75,
          'stops': [[12, 3], [22, 180]]
        },
        'circle-color': '#ca3706'
      }">
    </mgl-layer>

    <!-- <mgl-layer id="study-hotspots" type="line" source="study-areas-source" [paint]="{
        'line-color': '#ca3706',
        'line-width': 2
    }">
    </mgl-layer> -->
    <mgl-layer id="study-hotspots-fills" type="fill" source="study-areas-source" [paint]="{
        'fill-color': '#e09a20',
        'fill-opacity': ['case',['boolean', ['feature-state', 'hover'], false],
        1,
        0.1
        ]
      }" (mouseMove)="mousemove($event)" (mouseLeave)="mouseleave()" (click)="click($event)">
    </mgl-layer>


    <mgl-layer id="study-area" type="line" source="study-areas-source" [paint]="{
      'line-color': '#e09a20',
      'line-opacity': 0.6,
      'line-width': 2.0 }">
    </mgl-layer>

    <mgl-layer id="study-area-labels" type="symbol" source="study-areas-source"
    [paint]="{
      'text-color': '#ffffff',
      'text-halo-color': '#333333',
      'text-halo-width': 2
    }"
    [layout]="{
        'text-field': ['get', 'long_name'],
        'text-variable-anchor': ['top', 'bottom', 'left', 'right'],
        'text-justify': 'auto'}">
    </mgl-layer>

</mgl-map>
<div class="satellite">
  <button class="ui inverted button" (click)="satelliteView()">Satellite View {{ sat && 'ON' || 'OFF'}}</button>
  <button class="ui icon inverted button" (click)=overview($event)><i class="expand icon"></i> Re-center</button>
</div>
<div class="interpolator">
  <div class="ui top attached segment raised">
    <h5 class="ui header">Similarity to Study Areas</h5>
    <canvas id='interpolatedcanvas' #interpolatedcanvas></canvas>
  </div>
  <div class="ui bottom attached segment raised">
    <app-map-legend></app-map-legend>
  </div>
</div>
