<div class="collapsing">
  <sui-message>
    <div class="content">
    <h3 class="ui header">
      <i class="circular search icon"></i>
      <div class="content">
        Interpretation Hints
      </div>
    </h3>
      <p>Total costs are the sum of treatment costs (edge, landscape) and the cost of bushfire impacts (life loss, house loss, damage to roads and powerlines and environmental costs). For information on how costs were calculated see the <a [routerLink]="faqs">FAQ</a>.</p>
    </div>
  </sui-message>
</div>
