<div class="ui segment">
    <h2 class="ui header">{{study.properties.sim_name}}</h2>

    <div class="ui stackable grid">

        <div class="five wide column">
            <h4 class="ui header">Location</h4>
            <p>{{ study.properties.location }}</p>
        </div>
        <div class="five wide column">
            <h4 class="ui header">Population</h4>
            <p>{{ study.properties.Population }}</p>
        </div>
        <div class="five wide column">
            <h4 class="ui header">Land use</h4>
            <p>{{ study.properties.Landuse }}</p>
        </div>
        <div class="five wide column">
            <h4 class="ui header">Vegetation</h4>
            <p>{{ study.properties.Vegetation }}</p>
        </div>
        <div class="five wide column">
            <h4 class="ui header">Climate</h4>
            <p>{{ study.properties.Climate }}</p>
        </div>
        <div class="five wide column">
            <h4 class="ui header">Fire Regime</h4>
            <p>{{ study.properties.FireRegime }}</p>
        </div>
        <div class="five wide column">
            <h4 class="ui header">Prescribed Burning Regime</h4>
            <p>{{ study.properties.PrescribedBurningRegime }}</p>
        </div>
    </div>

</div>
<!-- {{study.properties | json}} -->