.masthead {
    margin-top: 5vh;
    background-image: url('/assets/images/37786078192_d19cb3c62d_b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    min-height: 250px;
}
.masthead .ui.text.container {
    margin-left: auto;
    margin-right: auto;
}
.masthead .ui.text.container h1.ui.inverted.header {
    margin-top: 6rem;
    margin-bottom: 6rem;
    color: #FFF;
    font-size: 4rem;
}

.accordion .flowchart .title {
    border: none;
    font-size: 1.3rem;
}

.grid.relaxed {
    margin: 1.456rem;
}
.flowchart .step {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 400;
    -webkit-transition: background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    transition: background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    border-bottom: 1px solid rgba(34,36,38,.15);

    background: #f2f2f2;
}

.flowchart .step:after {
    position: absolute;
    content: ' ';
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background: rgba(34,36,38,.1);
    margin: .5px 0 0 ;
    width: .57142857em;
    height: .57142857em;
    border: none;
    border-bottom: 1px solid #d4d4d5;
    border-right: 1px solid #d4d4d5;
    z-index: 2;
    transition-property: background;
    transition-duration: .1s;
    transition-timing-function: ease;
    visibility: visible;
}

.flowchart .step:after {
    background-color: #f2f2f2;
}

.flowchart .step:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: rgba(34,36,38,.1);
}
.ui.styled.accordion .title,
sui-accordion.styled .title,
.question {
  color: rgba(#303030, 0.88) !important;
  background: #DFDFDF !important;
}

.ui.styled.accordion .title.active,
sui-accordion.styled .title.active,
.question {
  color: rgba(#000000, 0.88) !important;
  background: #FFFFFF !important;
}

.answer.text.container {
  margin-left: 5rem;
  margin-right: 5rem;
}
div.indent {
  margin-left: 2rem;
  margin-right: 2rem;
}

q {
  margin: 2rem;
}

@media all {
  .apa,     .apa ul,     .apa ol,     .apa dl,
  .ref-apa, .ref-apa ul, .ref-apa ol, .ref-apa dl,
  .apa-ref, .apa-ref ul, .apa-ref ol, .apa-ref dl,
  .refapa,  .refapa ul,  .refapa ol,  .refapa dl,
  .aparef,  .aparef ul,  .aparef ol,  .aparef dl{
  padding-left: 0;margin-left: 0;
  }
  .apa li,
  .ref-apa li,
  .refapa li,
  .apa-ref li,
  .aparef li{
  list-style-type: none;
  }
  .apa p,     .apa li,     .apa dd,
  .ref-apa p, .ref-apa li, .ref-apa dd,
  .refapa p,  .refapa li,  .refapa dd,
  .apa-ref p, .apa-ref li, .apa-ref dd,
  .aparef p,  .aparef li,  .aparef dd{
  margin-left:   2em;
  text-indent:  -2em;
  margin-top: 1em;
  margin-bottom: 1em;
  }
  .ref-apa dt{
  font-size: 1.5em;
  font-weight: bold;
  margin: .83em 0;
  }

  .csl-bib-body {
      margin-left:   2em;
      text-indent:  -2em;
      margin-top: 1em;
      margin-bottom: 1em;
  }

  .ref-intro {
      /* margin-bottom: 3em; */
  }
}
@media print {

  .apa p,     .apa li,     .apa dd,
  .ref-apa p, .ref-apa li, .ref-apa dd,
  .refapa p,  .refapa li,  .refapa dd,
  .apa-ref p, .apa-ref li, .apa-ref dd,
  .aparef p,  .aparef li,  .aparef dd{
  margin-left:   .5in;
  text-indent:  -.5in;
  margin-top: 1em;
  margin-bottom: 1em;
  }

}

.open_access {

}
