.masthead {
    margin-top: 5vh;
    background-image: url('/assets/images/37786078192_d19cb3c62d_b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    min-height: 250px;
}
.masthead .ui.text.container {
    margin-left: auto;
    margin-right: auto;
}
.masthead .ui.text.container h1.ui.inverted.header {
    margin-top: 6rem;
    margin-bottom: 6rem;
    color: #FFF;
    font-size: 4rem;
}
