<div class="ui masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">Frequently Asked Qustions</h1>
    </div>
</div>
<div class="ui segment vertical stripe">
    <div class="ui container">
        <sui-accordion class="ui styled fluid">
            <!-- Static pre-defined QAs -->
            <sui-accordion-panel [isOpen]="true">
                <div title class="ui header question"
                ><i class="dropdown icon"></i> What is the Prescribed Burning Atlas?</div>
                <div
                    content
                    class="answer text container"
                >

                <a id="what"></a>
                <div class="ui segment">

                  <h1 style="font-size: xx-large;text-align: center;" class="ui header">
                    <q>The Prescribed Burning Atlas is a new decision support tool for prescribed burning risk assessment.</q>
                  </h1>

                <p>The Atlas contains results from a Bushfire and Natural Hazards CRC research project led by the University of Wollongong, the University of Melbourne and Western Sydney University, which systematically investigated how risk to any particular management value will respond to variations in the spatial location and rates of treatment.</p>

                <p>The Prescribed Burning Atlas can be used to explore the risk reduction available from difference prescribed burning strategies in southern Australia. For more information, see the About page and read the other questions in this FAQ.</p>
              </div>
              </div>
            </sui-accordion-panel>

            <sui-accordion-panel>
                <div
                    title
                    class="ui header question"
                ><i class="dropdown icon"></i> How do I use the Prescribed Burning Atlas?</div>
                <div
                    content
                    class="answer text container"
                >
                <a id="usage"></a>
                <a href="/help">See the user guide with examples</a></div>
            </sui-accordion-panel>

            <sui-accordion-panel>
                <div
                    title
                    class="ui header question"
                ><i class="dropdown icon"></i> How were the study areas chosen?</div>
                <div
                    content
                    class="answer text container"
                >
                <a id="studies"></a>
                    <p>In order to systematically explore how risk responds to treatment, study areas representing as much of the diversity of southern Australia as possible were selected. This includes human and biophysical attributes such as population density, land use, vegetation type and climate.</p>
                    <p>The table below shows key features, similarities and differences between the 13 selected case study landscapes.</p>

                    <table class="ui celled structured table">
                        <thead>
                            <tr class="ui blue inverted">
                                <th class="single line">Terrestrial Ecoregion</th>
                                <th class="single line">Bioregion</th>
                                <th class="single line">Notes</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td rowspan="5">Temperate Broadleaf and Mixed Forest</td>
                                <td class="collapsing">Southeastern Queensland</td>
                                <td rowspan="5">These form a gradient of mainly forested landscapes along the east coast, ranges and slopes, encompassing wide variations in population
                                    and land uses. These complement existing risk modelling exercises done in the Sydney region and Otways.</td>
                            </tr>

                            <tr height="5">
                                <td class="collapsing">Victoria Midlands</td>
                            </tr>

                            <tr height="5">
                                <td class="collapsing">South East Corner</td>
                            </tr>

                            <tr height="5">
                                <td class="collapsing">South Eastern Highlands</td>
                            </tr>

                            <tr height="5">
                                <td>Tasmanian Southern Ranges</td>
                            </tr>

                            <tr height="5">
                                <td rowspan="2">Mediterranean Forests, Woodlands &amp; Scrub</td>
                                <td class="collapsing">Murray Darling Depression</td>
                                <td rowspan="2">These form a mixed gradient of dry vegetation from western Victoria to South Australia</td>
                            </tr>

                            <tr height="5">
                                <td>Flinders Lofty Block</td>
                            </tr>

                            <tr height="5">
                                <td rowspan="3">Temperate Grasslands, Savannas and Shrublands</td>
                                <td class="collapsing">Murray Darling Depression</td>
                                <td rowspan="3">Case studies in these Bioregions represent the spectrum of mixed agriculture and remnant vegetation that typifies these moderately
                                    populated inland regions in Victoria and NSW.</td>
                            </tr>

                            <tr height="5">
                                <td class="collapsing">Nandewar</td>
                            </tr>

                            <tr height="5">
                                <td>NSW South Western Slopes</td>
                            </tr>

                            <tr height="5">
                                <td rowspan="2">Deserts and Xeric Shrublands</td>
                                <td class="collapsing">Great Victoria Desert</td>
                                <td rowspan="2">Case studies situated in SA and NSW explore effects in these sparsely populated rangelands and conservation reserves.</td>
                            </tr>

                            <tr height="5">
                                <td class="collapsing">Broken Hill Complex</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </sui-accordion-panel>

            <sui-accordion-panel>
                <div
                    title
                    class="ui header question"
                ><i class="dropdown icon"></i> Where does the data come from?</div>
                <div
                    content
                    class="answer text container"
                >
                <a id="data"></a>
                    <p>The data presented here are based on the combined output of these main steps:</p>

                    <div class="ui three column grid relaxed ">
                        <div class="column">
                            <div class="ui fluid flowchart vertical menu">
                                <div class="step item"><i class="cogs icon"></i>Phoenix Simulation</div>
                                <div class="step item"><i class="chart bar outline icon"></i>Impact Analysis</div>
                                <div class="step item"><i class="balance scale icon"></i>Cost Estimation</div>
                                <div class="step item"><i class="sitemap icon"></i>Bayesian Decision Network</div>
                            </div>
                        </div>
                    </div>

                    <p>Fire behaviour
                        simulation is based on the Phoenix RapidFire model, and incorporates different prescribed burning treatment rates and locations, different weather streams and different ignition locations, as well as base layers supplied by
                        state and territory fire management agencies. Impact estimation is based on published techniques for relating fire behaviour and other outputs from Phoenix to values such as life and property loss, infrastructure damage and
                        vegetation sensitive to particular fire intervals.</p>
                        <p>In the model, prescribed burning is assumed to remove most fuel, and that fuel begins to accumulate after fire as a function of time since fire, eventually stabilising at an equilibrium amount given sufficient time.</p>
                    <p>Risk estimation is based on Bayesian Decision Networks, which estimate the risk to each value at each treatment level from the simulation-derived distributions of data and
                        provide a basis for comparison between regions that explicitly incorporates the observed frequency of fire weather conditions in each case study area. For more information, see <a [routerLink]="publications">Cirulis et al. 2019.</a></p>
                </div>
            </sui-accordion-panel>

            <sui-accordion-panel>
                <div
                    title
                    class="ui header question"
                ><i class="dropdown icon"></i> How accurate are the results?</div>
                <div
                    content
                    class="answer text container"
                >
                  <a id="accuracy"></a>
                  <p><strong>As with any experiment that involves modelling, the results reflect the strengths and weaknesses of the model and datasets used to drive the model.</strong></p>

                  <p>While fire behaviour simulators have a range of limitations, such as their computational expense and inaccuracies in the representation of key processes and elements (or their omission altogether), it is reasonable to expect performance to improve as existing models are validated, improved and new models are developed.</p>
                  <p>For a recent evaluation of these models, see: </p>
                  <div class="ui segment">
                    <div class="csl-bib-body">
                      <div class="csl-entry">
                      Faggian, N, Bridge, C, Fox-Hughes, P, Jolly C, Jacobs, H, Ebert, B & Bally, J 2017, Final Report: An evaluation of fire spread simulators used in Australia, Australian Bureau of Meteorology, Bushfire Predictive Services, Melbourne available at <a href="http://www.bom.gov.au/research/publications/otherreports/FPS_Final_Report_v1.81_Evaluation_Of_Simulators_Release.pdf"  target="_blank">http://www.bom.gov.au/research/publications/otherreports/FPS_Final_Report_v1.81_Evaluation_Of_Simulators_Release.pdf</a>
                    </div>
                  </div>
                  </div>

                  <p>Input datasets such as fire history, land use and fuel type were generally obtained from State and Federal Government departments. Such datasets are often refined and improved over time.</p>

                  <p>While the project represents an important step forward in wildfire risk management research, a number of challenges remain to maximise its value. The treatment of values is essentially modular, meaning that the addition of new values (e.g. agricultural impacts, human health impacts from smoke) or modifications of existing ones is not just desirable, but possible. The project can equally easily incorporate new costs associated with prescribed burning, suppression and wildfire impacts as they are made available. It will also be important to test the sensitivity of results to choice of simulator and fire behaviour model.</p>

                  <p>For details of the models and datasets, including limitations, see:</p>
                    <ul>
                      <li><a [routerLink]="publications">Cirulis et al. 2019, Project Annual Reports</a></li>
                      <li><a [routerLink]="publications">Clarke et al. 2019 (AJEM)</a></li>
                    </ul>
                    <p>all available at the <a [routerLink]="publications">Publications page</a>.</p>
                </div>
            </sui-accordion-panel>

            <sui-accordion-panel>
                <div
                    title
                    class="ui header question"
                ><i class="dropdown icon"></i>How can the Prescribed Burning Atlas be used outside the 13 case study landscapes?</div>
                <div
                    content
                    class="answer text container"
                >
                <a id="outside"></a>
                <p>The Prescribed Burning Atlas is intended to guide the use of tailor-made solutions to prescribed burning across Southern Australia, not just in the 13 case study landscapes.</p>

                <p>The project team is working on a formal tool that will extend results from case study landscapes to any region within the study area. Multi-variate techniques will estimate how far a given landscape is from the case study data, which will allowfor the estimation of risk to assets in the “new” landscape. Ideally, users will also be able to vary the similarity values based on their experience with the landscape. This will allow users to create their own decision matrix across a range of environmental and human values to help determine the best fuel treatment strategies for a particular landscape.</p></div>
            </sui-accordion-panel>
            <sui-accordion-panel>
                <div
                    title
                    class="ui header question"
                ><i class="dropdown icon"></i> How are the costs calculated?</div>
                <div
                    content
                    class="answer text container"
                >
                <a id="costs"></a>
                <p>
                  Treatment costs were calculated using the equations in Penman et al. (2014) which had a log‐log relationship between treatment size and cost per ha of treatment. Costs for individual burns in the simulated prescribed burn history were calculated and then average annual costs for the 20‐year period calculated.</p>

                  <p>Costs of house loss were estimated as $500,000 per house based on the estimates of median property values across the various study areas (based on www.yourinvestmentpropertymag.com.au accessed November 2017). We did not vary cost by region as this would prioritise areas with greater property values.</p>

                  <p>Life loss was <a href="https://www.pmc.gov.au/sites/default/files/publications/Value_of_Statistical_Life_guidance_note.pdf" target="_blank">estimated as $4.2 million per life based on national standards</a> (https://www.pmc.gov.au/sites/default/files/publications/Value_of_Statistical_Life_guidance_note.pdf, accessed November 2019 ),</p>

                  <p>Costs of road damage were not estimated due to a lack of published data.</p>

                  <p>Cost of powerline replacement was <a href="https://www.energy.vic.gov.au/safety-and-emergencies/powerline-bushfire-safety-program/Reports-and-regulations/pb-report-indicative-costs-for-replacing-swer-lines" target="_blank">estimated at $120 per metre</a> (https://www.energy.vic.gov.au/safety-and-emergencies/powerline-bushfire-safety-program/Reports-and-regulations/pb-report-indicative-costs-for-replacing-swer-lines). We did not attempt to estimate the cost of loss of power as this requires detailed modelling of electricity networks, which is beyond the scope of the paper.</p>

                  <p>There is no means of translating TFI into economic values, we used a coarse value of $1000 per ha burnt below TFI based on the economic impact of major fires on environmental values (Stephenson, 2010).</p>

              <div>
                <h4>References:</h4>
                <div class="csl-bib-body">
                  <div class="csl-entry">
                    Penman TD, Bradstock RA, Price OF (2014) Reducing wildfire risk to urban developments: Simulation of cost‐effective fuel treatment solutions in south eastern Australia. Environmental Modelling & Software 52, 166‐175. <a href="https://doi.org/10.1016/j.envsoft.2013.09.030" target="_blank">https://doi.org/10.1016/j.envsoft.2013.09.030</a>
                </div>
                </div>

                <div class="csl-bib-body">
                  <div class="csl-entry">Stephenson C (2010) 'A literature review on the economic, social and environmental impacts of severe bushfires in south‐eastern Australia.' (Victorian Government Department of Sustainability and Environment) available at <a href="https://www.ffm.vic.gov.au/__data/assets/pdf_file/0009/21114/Report-87-A-Lit.Rvw-On-The-Economic,-Social-and-Envtal-Impacts-of-Severe-Bushfires-In-SE-Aust.pdf" target="_blank">https://www.ffm.vic.gov.au/__data/assets/pdf_file/0009/21114/Report-87-A-Lit.Rvw-On-The-Economic,-Social-and-Envtal-Impacts-of-Severe-Bushfires-In-SE-Aust.pdf</a></div></div>
                </div>
              </div>
            </sui-accordion-panel>

            <sui-accordion-panel>
                <div
                    title
                    class="ui header question"
                ><i class="dropdown icon"></i> What do the results mean?</div>
                <div
                    content
                    class="answer text container"
                >
                <a id="results"></a>
                <p>
                  The results are based on the properties of a single wildfire, simulated many times to represent different treatment rates and locations, ignition locations and weather streams.</p>

                  <p>Results indicate the risk mitigation available from prescribed burning for a single wildfire in a particular case study landscapes, for a given management value.</p>

                  <p>Users can select and compare different treatment rates (0 to 15%) and locations (edge and landscape) and see the resulting levels of risk. For all values except area burnt below minimum TFI, one (1) represents the no treatment case. Other values are relative to this – if less than one, the risk is lower than for no treatment and vice versa. For area burnt below minimum TFI, one represents the maximum risk case, which may not be at zero treatment. Other values are relative to this. Please contact us if you are interested in absolute values.
                  </p>
  </div>
            </sui-accordion-panel>

            <sui-accordion-panel>
                <div
                    title
                    class="ui header question"
                ><i class="dropdown icon"></i> How are the management values calculated?</div>
                <div
                    content
                    class="answer text container"
                >
                <a id="calculations"></a>
                <h2 class="ui orange header">Area Burnt</h2>
                <h5 class="ui header"><i class="sign-out icon"></i> Output value:</h5>
                <div class="indent">
                  <p>The area burnt per fire (hectares).</p>
                </div>
                <h5 class="ui header"><i class="microchip icon"></i> Method of calculation:</h5>
                <div class="indent">
                  <p>Direct PHOENIX output. All cells affected by fire.</p>
                </div>

                <div class="ui divider"></div>

                <h2 class="ui orange header">House Loss</h2>
                <h5 class="ui header"><i class="sign-out icon"></i> Output value:</h5>
                <div class="indent">
                  <p>The number of houses lost per fire.</p>
                </div>

                <h5 class="ui header"><i class="sign-in icon"></i> Inputs:</h5>
                <div class="indent">
                  <p>PHOENIX prediction of convection, flame length and embers combined with address point layer.</p>
                </div>

                <h5 class="ui header"><i class="microchip icon"></i> Method of calculation:</h5>
                <div class="indent">
                  <p>House loss was calculated in coordination with DELWP. For all cells affected by fire (flames, embers and / or convection), house loss probability was calculated based on the equations presented in Tolhurst and Chong (2011). Probability of house loss was then multiplied by the number of houses in that cell based on the address point layer. This gave a house loss per cell, which was then summed across the fire to provide a total number of houses predicted to have been lost in that fire.</p>
                </div>
                <h5 class="ui header"><i class="exclamation circle icon"></i> Limitations:</h5>
                <div class="indent">
                  <p>The equations of Tolhurst and Chong (2011) are based on a small set of fires in which house loss events occurred. These equations have not been tested on an independent data set due to the infrequent nature of such events.</p>
                </div>

                <h5 class="ui header"><i class="crosshairs icon"></i> Reliability:</h5>
                <div class="indent">
                  <p>On a relative scale this metric is considered reliable as it was developed based on PHOENIX output for real fires. As noted above, the metric was derived from a small subset of fires and the absolute values of these outputs are less reliable. It should be noted that actions of fire agencies or residents at individual properties and house construction standards were not explicitly considered in this metric.</p>
                </div>

                <div class="ui divider"></div>

                <h2 class="ui orange header">Life Loss</h2>
                <h5 class="ui header"><i class="sign-out icon"></i> Output value:</h5>
                <div class="indent">
                  <p>The number of lives lost per fire.</p>
                </div>
                <h5 class="ui header"><i class="sign-in icon"></i> Inputs:</h5>
                <div class="indent">
                  <p>PHOENIX based prediction of houses exposed to fire using the address point layer and population density.</p>
                </div>
                <h5 class="ui header"><i class="microchip icon"></i> Method of calculation:</h5>
                <div class="indent">
                  <p>The number of houses exposed and people exposed to fire (flames embers or convection) per cell was calculated. The people and houses exposed were then used to calculate expected fatalities using the formulas from Harris et al. 2012.</p>
                </div>
                <h5 class="ui header"><i class="exclamation circle icon"></i> Limitations:</h5>
                <div class="indent">
                  <p>There are several limitations to the method. Firstly, the equations have been developed from empirical data for a limited set of fires. These fires have not been run in PHOENIX for comparison. Secondly, the equations have a relatively poor fit. Finally, the population density layer has been derived from the mesh-block dataset obtained from the Australian Bureau of Statistics (ABS). Individual mesh-blocks are not consistent in size or shape and the underlying data on population and house density is based on the 2011/2012 census. As a result, there are unavoidable spatial inaccuracies in this data set.</p>
                </div>
                <h5 class="ui header"><i class="crosshairs icon"></i> Reliability:</h5>
                <div class="indent">
                  <p>As a relative measure, the metric is considered reasonably robust and more reliable than the ratio method (see above) as it considers the houses and population exposed. However it has the unavoidable limitation of not considering the actions of agencies or people in response to fires.</p>
                </div>

                <div class="ui divider"></div>

                <h2 class="ui orange header">Road length damaged</h2>
                <h5 class="ui header"><i class="sign-out icon"></i> Output value:</h5>
                <div class="indent">
                  <p>The length of road or powerline infrastructure lost per fire.</p>
                </div>

                <h5 class="ui header"><i class="sign-in icon"></i> Inputs:</h5>
                <div class="indent">
                  <p>Road and Powerline lengths per cell, obtained from agencies, and PHOENIX output for fire intensity (kW/m).</p>
                </div>

                <h5 class="ui header"><i class="microchip icon"></i> Method of calculation:</h5>
                <div class="indent">
                  <p>To calculate loss, a threshold based calculation was used where roads and powerlines were considered destroyed if they were exposed to a fire with intensity greater than 10,000 kW/m (Deloitte 2015).</p>
                </div>
                <h5 class="ui header"><i class="exclamation circle icon"></i> Limitations:</h5>
                <div class="indent">
                  <p>The output of this calculation is binary; the infrastructure is either destroyed or not-destroyed. No consideration was given to the level of destruction, which will influence the repair cost. Additionally, road / powerline construction is not the same across all assets and their durability will be different. Furthermore, the length of loss is not necessarily equal to the impact. For example, one hundred metres of loss could be one road for one hundred metres or fifty metres for two separate roads. The consequences of these two scenarios are potentially very different.</p>
                </div>
                <h5 class="ui header"><i class="crosshairs icon"></i> Reliability:</h5>
                <div class="indent">
                  <p>The locations from the infrastructure data are considered to be reliable and the thresholds used are based on observations and expertise from real fires. However, not all roads and powerlines will be captured in every agency dataset and some locally important roads may be excluded.</p>
                </div>

                <div class="ui divider"></div>

                <h2 class="ui orange header">Powerline length damaged</h2>
                <h5 class="ui header"><i class="sign-out icon"></i> Output value:</h5>
                <div class="indent">
                  <p>The length of road or powerline infrastructure lost per fire.</p>
                </div>

                <h5 class="ui header"><i class="sign-in icon"></i> Inputs:</h5>
                <div class="indent">
                  <p>Road and Powerline lengths per cell, obtained from agencies, and PHOENIX output for fire intensity (kW/m).</p>
                </div>

                <h5 class="ui header"><i class="microchip icon"></i> Method of calculation:</h5>
                <div class="indent">
                  <p>To calculate loss, a threshold based calculation was used where roads and powerlines were considered destroyed if they were exposed to a fire with intensity greater than 10,000 kW/m (Deloitte 2015).</p>
                  </div>
                <h5 class="ui header"><i class="exclamation circle icon"></i> Limitations:</h5>
                <div class="indent">
                  <p>The output of this calculation is binary; the infrastructure is either destroyed or not-destroyed. No consideration was given to the level of destruction, which will influence the repair cost. Additionally, road / powerline construction is not the same across all assets and their durability will be different. Furthermore, the length of loss is not necessarily equal to the impact. For example, one hundred metres of loss could be one road for one hundred metres or fifty metres for two separate roads. The consequences of these two scenarios are potentially very different.</p>
                </div>

                <h5 class="ui header"><i class="crosshairs icon"></i> Reliability:</h5>
                <div class="indent">
                  <p>The locations from the infrastructure data are considered to be reliable and the thresholds used are based on observations and expertise from real fires. However, not all roads and powerlines will be captured in every agency dataset and some locally important roads may be excluded.</p>
                </div>

                <div class="ui divider"></div>

                <h2 class="ui orange header">Area burnt below minimum Tolerable Fire Interval (TFI)</h2>
                <h5 class="ui header"><i class="sign-out icon"></i> Output value:</h5>
                <div class="indent">
                  <p>The area (hectares) of vegetation burnt below its minimum tolerable fire interval (TFI) per fire.</p>
                </div>

                <h5 class="ui header"><i class="sign-in icon"></i> Inputs:</h5>
                <div class="indent">
                  <p>PHOENIX outputs of intensity and fire rate of spread, fire history layer of each scenario, spatial map of vegetation types and agency information on the minimum TFI.</p>
                </div>

                <h5 class="ui header"><i class="microchip icon"></i> Method of calculation:</h5>
                <div class="indent">
                  <p>Fire history layers for each scenario were converted to a time since fire (TSF) spatial layer. For each fire, the fire intensity and rate of spread values from PHOENIX were overlayed with the TSF and minimum TFI layers. A cell was considered affected if it was burnt before the minimum TFI was reached.</p>
                </div>

                <h5 class="ui header"><i class="exclamation circle icon"></i> Limitations:</h5>
                <div class="indent">
                  <p>This metric considers all fires equally and does not account for fire intensity.</p>
                </div>

                <h5 class="ui header"><i class="crosshairs icon"></i> Reliability:</h5>
                <div class="indent">
                  <p>The reliability of the metric is dependent on the quality of the underlying spatial layers and the estimation of TFI for each vegetation type.</p>
                </div>
              </div>
            </sui-accordion-panel>

            <!-- Dynamic QAs -->
            <app-faq
                *ngFor="let faq of faqs"
                [faq]="faq"
                class="item"
            ></app-faq>

        </sui-accordion>


        <!-- <div
            *ngIf="!auth.loggedIn"
            class="ui info icon message"
        >
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">
                    Please <a (click)="auth.login('/contact')">signup</a> to contact us.
                </div>
                <p>Please signup and verify your email address.</p>
            </div>
        </div>

        <div class="ui segment">
            <p>This is your chance to consult with the experts and ask any questions you might have about:</p>
            <ul class="ui list">
                <li>prescribed burning.</li>
                <li>hazard reduction burning.</li>
                <li>risk mitigation</li>
                <li>the modelling we use, and more</li>
            </ul>
            <p><a [routerLink]="auth.login()">Login</a> to ask a question.</p>
        </div>

        <div class="ui segment">
            <h3 class="ui dividing header">Ask a question</h3>

            <app-contact-form (success)="onCompleted($event)"></app-contact-form>
        </div> -->
    </div>
</div>
