<div class="ui segment flex-container">
    <h2 class="ui header">{{study.properties.long_name}}</h2>

    <table
        class="ui very basic table"
        height="100%"
    >
        <thead>
            <tr>
                <th class="collapsing">Treatment Inspector</th>
                <th>Loss Analysis</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>

                  <sui-message class="collapsing">
    <div class="content">
      <h3 class="ui header">
        <i class="circular info icon"></i>
        <div class="content">Usage Hint</div>
      </h3>
      <p>Choose a value from the dropdown menu and select combinations of Edge and Landscape treatment on the graph below. Compare risk across values and treatments in the graph on the right.</p></div>
                  </sui-message>


              </td>
                <td></td>
            </tr>
            <tr>
                <td
                    class=""
                    valign="top"
                >
                    <app-matrix-selector
                        [study_area]="study"
                        (selectedItems)="onSelectedItemsChange($event)"
                        #mtx
                    ></app-matrix-selector>

                    <div
                        *ngIf="positions.length > 0"
                        (click)="mtx.clearAll()"
                        class="ui fluid icon button"
                    ><i class="ui orange window close icon"></i> Clear selection</div>

                    <app-interpretation></app-interpretation>
                </td>

                <td
                    class=""
                    valign="top"
                >


                    <h3 class="ui header">Collective Losses using Landscape and Edge Treatments</h3>
                    <h5 class="ui header">Hover over points to see values.</h5>

                    <div class="chart-container">
                        <canvas
                            id="radar"
                            #radar
                        ></canvas>
                    </div>

                    <div
                        class="ui segment"
                        *ngIf="positions.length == 0"
                    >
                        <div class="ui big icon message">
                            <i class="info circle icon"></i>
                            <div class="content">
                                <div class="header">Make a selection</div>
                                <p>Select Landscape / Edge Percentage Burnt to compare losses.</p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
