<div class="ui segment flex-container">
    <h2 class="ui header">{{study.properties.long_name}}</h2>

    <table
        class="ui very basic table"
        height="100%"
    >
        <thead>
            <tr>
                <th class="collapsing">Treatment Inspector</th>
                <th>Loss Analysis</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="collapsing">Values are normalised.</td>
                <td><p>Values are normalised. (0 = Minimum Risk, 1 = Maximum Risk)</p></td>
            </tr>
            <tr>
                <td
                    class="collapsing"
                    valign="top"
                >
                    <app-matrix-selector
                        [study_area]="study"
                        (selectedItems)="onSelectedItemsChange($event)"
                        #mtx
                    ></app-matrix-selector>

                    <div
                        *ngIf="positions.length > 0"
                        (click)="mtx.clearAll()"
                        class="ui fluid icon button"
                    ><i class="ui orange window close icon"></i> Clear selection</div>
                </td>

                <td
                    class=""
                    valign="top"
                >


                    <h3 class="ui header">Collective Losses using Landscape and Edge Treatments</h3>


                    <div class="chart-container">
                        <canvas
                            id="radar"
                            #radar
                        ></canvas>
                    </div>

                    <div
                        class="ui segment"
                        *ngIf="positions.length == 0"
                    >
                        <div class="ui big icon message">
                            <i class="info circle icon"></i>
                            <div class="content">
                                <div class="header">Make a selection</div>
                                <p>Select Landscape / Edge Percentage Burnt to compare losses.</p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
