<div class="ui black inverted raised card">
  <div class="image">
    <img src="{{cover.image}}">
  </div>
  <div class="black inverted content">
    <a href="cover.link" target="_blank" class="header">{{cover.title}}</a>
    <div class="meta">
      <span class="date">{{cover.date}}</span>
    </div>
    <div class="description">
      {{cover.description}}
    </div>
  </div>
  <div class="black inverted extra content">
    <div class="ui list">
       <a class="item" href="author.url" *ngFor="let author of cover.authors"><i class="user icon"></i> {{author.name}}</a>
      </div>
  </div>
</div>
