<div class="ui black inverted raised card">
  <div class="image">
    <img src="/assets/images/black_summer.jpg">
  </div>
  <div class="black inverted content">
    <a href="https://www.bnhcrc.com.au/publications/biblio/bnh-7036" target="_blank" class="header">Impact of Australia's catastrophic 2019/20 bushfire season on communities and environment. Retrospective analysis and current trends</a>
    <div class="meta">
      <span class="date">2020</span>
    </div>
    <div class="description">
      Journal of Safety Science and Resilience
    </div>
  </div>
  <div class="black inverted extra content">
    <div class="ui list">
       <a class="item" href="https://www.bnhcrc.com.au/people/afilkov"><i class="user icon"></i> Filkov, A</a>

       <a class="item" href="https://www.bnhcrc.com.au/people/tngo"><i class="user icon"></i> Ngo, T </a>

      <a class="item" href="https://www.bnhcrc.com.au/publications/biblio?f%5Bauthor%5D=91"><i class="user icon"></i>Matthews, S</a>

      <a class="item" href="https://www.bnhcrc.com.au/publications/biblio?f%5Bauthor%5D=1346"><i class="user icon"></i> Telfer, S</a>

      <a class="item" href="https://www.bnhcrc.com.au/people/tpenman"><i class="user icon"></i> Penman, T</a>
      </div>
  </div>
</div>
