<div class="ui segment vertical stripe">
    <div class="ui container">
        <h1 class="ui header">About the Prescribed Burning Atlas Project</h1>

        <div class="ui raised stackable divided grid">
            <div class="ui eight wide column">

                <p class="intro">The <a href="#">2009 Victorian Bushfires Royal Commission</a> recommended an annual treatment target of 5% of public land in Victoria. Subsequently, concerns were formally raised (for example in the Bushfires Royal
                    Commission
                    Implementation
                    Monitor 2013 Annual Report) that such an area-based target may not deliver the most effective levels of risk reduction. Victoria has now moved to a risk-based approach for prescribed burning.</p>

                <p>Concurrently, some other states have adopted prescribed burning targets, but formal attempts to evaluate its effects on risk to people, property and environmental values across different jurisdictions are lacking. Such
                    extrapolation of the 2009 Royal Commission recommendation presupposes that there is a ‘one-size fits all’ solution to the problem. While many agencies are moving toward planning systems supposedly based on risk assessment,
                    knowledge of the best way to use prescribed fire to reduce risk to key values is generally lacking.</p>

            </div>
            <div class="ui eight wide column">
                <p>
                    This project, funded by the <a href="#">Bushfire & Natural Hazards Cooperative Research Centre</a>, aims to deliver the research necessary to guide the implementation of tailor-made prescribed burning strategies to suit the
                    biophysical,
                    climatic
                    and human context of all bioregions across southeastern Australia.</p>

                <p>The project centrepiece is the website you are currently visiting: <em>the Prescribed Burining Atlas</em>. The Atlas will define the quantitative trajectory of risk reduction (including resultant residual risk) for multiple values
                    (such as
                    property, life loss, environmental values) in response to differing prescribed burning strategies (including spatial configurations and rates of treatment), across different Australian environments based on their unique
                    climatic,
                    biophysical and human characteristics.</p>
                <p>The Atlas is likely to be used in a range of ways, from strategic and tactical decision-making to policy development, resource allocation and education.</p>

            </div>
        </div>
    </div>
</div>