<div class="ui masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">About the Prescribed Burning Atlas Project</h1>
    </div>
</div>

<div class="ui page">
    <div class="ui vertical stripe segment">
        <div class="ui container">
            <div class="ui two column stackable very relaxed grid">
                <div class="ui column">
                    <h3 class="ui header">Planned or prescribed burning is widespread in forests and grasslands across Australia.</h3>

                    <p><strong>Primary aims of these programs are:</strong></p>

                    <ul class="ui relaxed list">
                        <li class="ui item"><strong>Hazard or fuel reduction:</strong> prescribed burning is used to reduce the amount of fuel in order to reduce the intensity, rate of spread and size of subsequent unplanned fires. These effects
                            potentially increase
                            opportunities for safe and effective suppression of bushfires. Risk to human communities, built assets, infrastructure and livelihoods is therefore potentially reduced.</li>

                        <li class="ui item"><strong>Environmental management:</strong> use of prescribed fire to alter fire regimes to reduce risks to biodiversity, ecosystem processes and natural resources, via changes to the incidence, intensity
                            and area burned by
                            unplanned fires.</li>
                    </ul>

                    <p>Current land management practices focus on risk-based approaches for prescribed burning, which is consistent with the approach outlined in the National Disaster Risk Reduction Framework, where one of the guiding principles is
                        that <em>"All sectors have shared but defined responsibilities to reduce disaster risk."</em> The Framework is also clear that there is a requirement that <em>"data and information informs implementation planning and
                            execution".</em></p>

                </div>

                <div class="ui column">
                    <p><strong>The principal purpose of the Atlas</strong> is to provide a comprehensive, formal estimation of risk to key human and environmental values across southern Australia.</p>

                    <p>The information available through this Atlas, supports the following priorities and actions for the Framework:</p>

                    <ul class="ui relaxed list">
                        <li class="ui item">
                            <h5>Priority 1: Understand disaster risk</h5>
                            <ul>
                                <li>Identify and address data, information and resource gaps</li>
                                <li>Address technical barriers to data and information sharing and availability</li>
                                <li>Integrate plausible future scenarios into planning</li>
                            </ul>
                        </li>

                        <li class="ui item">
                            <h5>Priority 2: Accountable decisions</h5>
                            <ul>
                                <li>Consider potential avoided loss (tangible and intangible) and broader benefits in all relevant decisions</li>
                                <li>Build the capability and capacity of decision-makers to actively address disaster risk in policy, program and investment decisions</li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical segment">
        <div class="ui container">
            <div class="ui two column stackable very relaxed grid">
                <div class="ui column">
                    <p>With land management agencies moving toward planning systems based on risk reduction, this project, funded by the Bushfire & Natural Hazards Cooperative Research Centre, and undertaken by the Universities of Wollongong,
                        Melbourne and Western Sydney, has developed a product that can be used by prescribed burning practitioners and prescribed burning planners as both a learning and planning support tool.</p>
                </div>

                <div class="ui column">
                    <p>The Atlas provides an ability for users to understand the likely cost, benefits and overall risk reduction for landscapes across south-eastern Australia, and to compare the outcomes based on different prescribed burning
                        strategies – comparing prescribed burning strategies that incorporate combinations of landscape and edge-based burning approaches (where the edge is defined as a location where flammable vegetation meets communities and
                        the
                        built environment).</p>

                    <p><strong>The Atlas provides a guide to support the implementation of customised prescribed burning strategies to suit the biophysical, climatic and human context of bioregions across south-eastern Australia.</strong></p>
                </div>
            </div>

        </div>
    </div>
</div>
