<div class="ui segment fluid flex-container">
    <h2 class="ui  header">{{study.properties.long_name}}</h2>

    <table
        class="ui very basic table"
        height="100%"
    >
        <thead>
            <tr>
                <th class="collapsing">Treatment Inspector</th>
                <th>Risk Reduction Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                  <sui-message class="collapsing" *ngIf="hints_required" >
                    <div class="content">

                      <h3 class="ui header">
                        <i class="circular info icon"></i>
                        <div class="content">Usage Hint</div>
                      </h3>
                      <p>Hold either Edge or Landscape treatment at a constant level and explore differences in risk in the graph on the right.</p>
                    </div>
                  </sui-message>

                </td>
                <td></td>
            </tr>
            <tr>
                <td
                    class="collapsing"
                    valign="top"
                >
                    <div class="ui field">
                      <div class="ui fluid buttons">
                        <div class="ui icon active button" *ngIf="treatment=='landscape'" (click)="onTreatmentChange('landscape')"><i class="arrows alternate horizontal icon"></i> Landscape</div>
                        <div class="ui icon button" *ngIf="treatment!='landscape'" (click)="onTreatmentChange('landscape')"><i class="arrows alternate horizontal icon"></i> Landscape</div>
                        <div class="or"></div>
                        <div class="ui active icon button" *ngIf="treatment=='edge'" (click)="onTreatmentChange('edge')"><i class="arrows alternate vertical icon"></i> Edge</div>
                        <div class="ui icon button" *ngIf="treatment!='edge'" (click)="onTreatmentChange('edge')"><i class="arrows alternate vertical icon"></i> Edge</div>
                      </div>
                      <div class="ui divider"></div>
                      <div class="ui field relaxed">
                        <div class="ui header">@ Level:</div>
                        <ng5-slider class="rangeslider" [(value)]="level" [options]="pb_options" (valueChange)="levelChange($event)"></ng5-slider>
                      </div>

                    </div>

                                          <div class="ui divider"></div>

                                          <app-climate-option (toggleClimateChange)="toggleClimateChange($event)"></app-climate-option>

                                          <app-interpretation></app-interpretation>
                </td>

                <td
                    class=""
                    valign="top"
                >
                    <div
                        class="ui field"
                    >
                        <app-scope-option (scopeChange)="onScopeChange($event)"></app-scope-option>
                        <div class="ui divider"></div>

                        <!-- <app-boxplot
                        [study]="area"
                        [scope]="scope"
                        [treatment]="treatment"
                        #boxplot></app-boxplot> -->

                        <div class="ui center aligned header">{{ titleCase(scope) + ' @ ' + pb_label(level) + '% of ' + treatment + '.'}}</div>
                        <div class="chart-container">
                        <canvas id='canvas' ></canvas>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
