<div class="ui segment fluid flex-container">
    <h2 class="ui  header">{{study.properties.long_name}}</h2>

    <table
        class="ui very basic table"
        height="100%"
    >
        <thead>
            <tr>
                <th class="collapsing">Treatment Inspector</th>
                <th>Loss Analysis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="collapsing">Values are normalised.</td>
                <td>Values are normalised.</td>
            </tr>
            <tr>
                <td
                    class="collapsing"
                    valign="top"
                >
                    <div class="ui field">
                      <div class="ui buttons">
                        <div class="ui active button" *ngIf="treatment=='landscape'" (click)="onTreatmentChange('landscape')">Landscape</div>
                        <div class="ui button" *ngIf="treatment!='landscape'" (click)="onTreatmentChange('landscape')">Landscape</div>
                        <div class="or"></div>
                        <div class="ui active button" *ngIf="treatment=='edge'" (click)="onTreatmentChange('edge')">Edge</div>
                        <div class="ui button" *ngIf="treatment!='edge'" (click)="onTreatmentChange('edge')">Edge</div>
                      </div>
                    </div>
                </td>

                <td
                    class=""
                    valign="top"
                >
                    <div
                        class="ui field"
                    >
                        <app-scope-option (scopeChange)="onScopeChange($event)"></app-scope-option>
                        <app-boxplot [scope]="scope"
                        [treatment]="treatment"
                        #boxplot></app-boxplot>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
