<div class="ui matrix" #matrixselector>
    <div *ngFor="let r of landscapeOptions">
        <div *ngFor="let c of edgeOptions">
            <div
                class="cell"
                *ngIf="r == -1 && c == -1"
            ></div>
            <app-matrix-header-cell
                *ngIf="r == -1 && c != -1"
                [column]="c"
            ></app-matrix-header-cell>
            <app-matrix-header-cell
                *ngIf="c == -1 && r != -1"
                [row]="r"
            ></app-matrix-header-cell>
            <app-matrix-cell
                *ngIf="c != -1 && r != -1"
                [row]="r"
                [column]="c"
                [color]="color(r,c)"
                (activated)="activated($event)"
                (deactivated)="deactivated($event)"
            ></app-matrix-cell>
        </div>
    </div>
</div>