<div class="item">
    <i class="large bars middle aligned icon"></i>
    <div class="ui content">
        <div class="ui four column grid ">
            <div class="ui column">

                <sui-select
                    class="selection"
                    [(ngModel)]="item.row"
                    [options]="edgeOptions"
                    labelField="name"
                    (selectedOptionChange)="changedEdge($event)"
                    #edge
                >
                    <sui-select-option
                        *ngFor="let option of edge.filteredOptions"
                        [value]="option"
                    >
                    </sui-select-option>
                </sui-select>
            </div>

            <div class="ui column">{{item.row}}</div>
            <div class="ui column">
                <sui-select
                    class="selection"
                    [(ngModel)]="item.column"
                    [options]="landscapeOptions"
                    labelField="name"
                    (selectedOptionChange)="changedLandscape($event)"
                    #landscape
                >
                    <sui-select-option
                        *ngFor="let option of landscape.filteredOptions"
                        [value]="option"
                    >
                    </sui-select-option>
                </sui-select>

            </div>
            <div class="ui column">{{item.column}}</div>
        </div>
    </div>
</div>