<sui-select
    class="selection"
    [(ngModel)]="item.row"
    [options]="edges"
    labelField="name"
    valueField="value"
    (selectedOptionChange)="changedOption($event)"
    #edge
>
    <sui-select-option
        *ngFor="let option of edge.filteredOptions"
        [value]="option"
    >
    </sui-select-option>
</sui-select>
<sui-select
    class="selection"
    [(ngModel)]="item.column"
    [options]="landscapes"
    labelField="name"
    valueField="value"
    (selectedOptionChange)="changedOption($event)"
    #landscape
>
    <sui-select-option
        *ngFor="let option of landscape.filteredOptions"
        [value]="option"
    >
    </sui-select-option>
</sui-select>