.cell {
    width: 32px;
    height:32px;
    cursor: pointer;
}

.cell.active {
    width: 32px;
    height:32px;
    border: solid 1px rgba(255,0,0,1);
    cursor: pointer;
}

.cell.active label {
    text-align: center;
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    font-weight: bold;
    opacity: 0.65;
    cursor: pointer !important;
}
