<nav>

    <div
        class="ui inverted primary pointing menu"
        #primary
    >
        <div class="ui container">

            <a
                class="ui header item"
                routerLink="/"
            >
                <div class="ui">
                    <i class="ui icons">
                        <i class="large red fire icon"></i>
                        <i class="white globe icon"></i>

                    </i>
                </div>
                <div class="header">{{title}}</div>
            </a>
            <a
                class="item"
                *ngFor="let r of routes"
                [routerLink]="r.path"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}"
            ><i [class]="r.icon"></i> {{r.name}}</a>

            <a
                class="ui pointing dropdown link item"
                suiDropdown
            >
                <i class="ui expand icon"></i> Study Areas
                <div
                    class="inverted menu"
                    suiDropdownMenu
                >
                    <a
                        class="item"
                        (click)="onClick(overview)"
                        routerLink="/"
                        autoClose="outsideClick"
                        [fragment]="enc(overview)"
                        (click)="onClick(overview)"
                    >
                        <div class="ui header">Overview</div>
                    </a>
                    <a
                        *ngFor="let sc of links"
                        routerLink="/"
                        autoClose="outsideClick"
                        [fragment]="enc(sc)"
                        class="item"
                        (click)="onClick(sc)"
                    >{{ sc.link }}</a>
                </div>
            </a>

            <div class="right menu">
                <a
                    class="ui item"
                    routerLink="profile"
                    *ngIf="auth.loggedIn"
                ><i class="id card icon"></i> Profile</a>

                <a
                    class="ui item"
                    (click)="auth.login()"
                    *ngIf="!auth.loggedIn"
                ><i class="sign in icon"></i> Log In</a>
                <a
                    class="ui item"
                    (click)="auth.logout()"
                    *ngIf="auth.loggedIn"
                ><i class="sign out icon"></i>Log Out</a>
                <a
                    class="ui item"
                    routerLink="external-api"
                    *ngIf="auth.loggedIn"
                ><i class="cloud icon"></i> API</a>

            </div>
        </div>
    </div>
</nav>
<main [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
</main>
<app-footer></app-footer>