/* #left {
  /* flex: 4; */
  /* margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
} */

/* #right { */
  /* flex: 4; */
  /* margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
} */

/* .grow {
    width: 66vw !important;
} */

/* .shrink {
    width: 33vw !important;
} */ 