/* #left {
  /* flex: 4; */
/* margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
} */
/* #right { */
/* flex: 4; */
/* margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
} */
/* .grow {
    width: 66vw !important;
} */
/* .shrink {
    width: 33vw !important;
} */
@media screen and (min-width: 800px) {

    .ui.left.sidebar,
    .ui.right.sidebar,
    .panel {
        width: 800px !important;
        height: auto;
    }
}

@media screen and (min-width: 960px) {

    .ui.left.sidebar,
    .ui.right.sidebar,
    .panel {
        width: 960px !important;
        height: auto;
    }
}

@media screen and (min-width: 1280px) {

    .ui.left.sidebar,
    .ui.right.sidebar,
    .panel {
        width: 960px !important;
        height: auto;
    }
}

@media screen and (min-width: 1920px) {

    .ui.left.sidebar,
    .ui.right.sidebar,
    .panel {
        width: 960px !important;
        height: auto;
    }
}

.left.docked {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 48vh;
}

.ui.black.icon.circular.button.docked {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.53);
  opacity: 0.5;
  left: -1.8em;
}

.ui.fluid.segment.active {
    margin: 0;
}

.whiteform .ui.tabular.menu,
.whiteform .ui.tabular.menu .item {
    background-color: #CCC;
    z-index: 101;
}

.whiteform .ui.tabular.menu .item.active {
    background-color: #FFF;
}

.flex-container {
    flex: 1;
    align-content: stretch;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    top: 0;
    bottom: 0;
}
