

<div class="left docked">
    <button
        class="ui black icon button"
        (click)="sidebarIsOpen=!sidebarIsOpen"
        *ngIf="!sidebarIsOpen"
    ><i class="expand arrows alternate icon"></i></button>
</div>

<sui-sidebar-container class="ui whiteform">
    <sui-sidebar
        class="ui form"
        [(isVisible)]="sidebarIsOpen"
        [transition]="'overlay'"
        #sidebar
    >
        <!-- SIDEBAR  -->

        <sui-tabset class="ui panel">
            <div class="ui top attached tabular fluid menu">
                <a
                    class="item"
                    suiTabHeader="1"
                ><i class="ui info icon"></i> Information</a>

                <!-- <a
                    class="item"
                    suiTabHeader="2"
                ><i class="ui chart line icon"></i> Treatment Comparator</a> -->
                <a
                class="item"
                suiTabHeader="2"
                ><i class="ui asterisk icon"></i> Treatment Comparator</a>

                <a
                    class="item"
                    suiTabHeader="3"
                ><i class="ui line chart icon"></i> Single Metric Comparator</a>


                <a
                    class="item"
                    suiTabHeader="4"
                ><i class="ui dollar sign icon"></i> Costs Comparator</a>

                <div class="right menu">
                    <a
                        class="ui red  item"
                        (click)="sidebarClose()"
                    ><i class="red window close icon"></i></a>
                </div>
            </div>

            <div class="flex-container">
                <div
                    class="ui fluid segment"
                    suiTabContent="1"
                >
                    <app-information
                        *ngIf="study != undefined"
                        [study]="study"
                        #info
                    ></app-information>
                </div>

                <!-- <div
                    class="ui fluid segment"
                    suiTabContent="2"
                >
                    <app-study-area-window
                        *ngIf="study != undefined"
                        [study]="study"
                        #summary
                    ></app-study-area-window>
                </div> -->
                <div
                class="ui fluid segment"
                suiTabContent="2"
                >
                <app-treatment
                *ngIf="study != undefined"
                [study]="study"
                ></app-treatment>
              </div>


                <div
                    class="ui fluid segment"
                    suiTabContent="3"
                >
                    <app-comparator
                        *ngIf="study != undefined"
                        [study]="study"
                    ></app-comparator>
                </div>


                <div
                    class="ui fluid segment"
                    suiTabContent="4"
                >
                    <app-cost-comparator
                        *ngIf="study != undefined"
                        [study]="study"
                    ></app-cost-comparator>
                </div>



            </div>

        </sui-tabset>


    </sui-sidebar>

    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
        <!-- PUSHER -->
        <div #left>
            <app-mapview
                (boundsChange)=onBoundsChange($event)
                (studyChange)="onStudyChange($event)"
                (focus)="focus"
                #mapview
            ></app-mapview>
        </div>
    </sui-sidebar-sibling>

</sui-sidebar-container>
<app-disclaimer></app-disclaimer>
