<div class="ui top attached segment collapsing">
  <h5 class="ui header">Legend</h5>
  <table class="ui very basic fluid celled table legend">
    <tbody>
      <tr>
        <td class="ui collapsing">0</td>
        <td class="ui fluid"><div class="legend"></div></td>
        <td class="ui collapsing">1</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="ui bottom attached segment collapsing">

  <h3 class="ui header">Interpretation Hints</h3>
  <div class="ui text wrap">

  <p>Values are normalised to show relative effects.</p>
  <p>Maximum risk observed under simulated conditions (generally 'no treatment') are represented as One (1).</p>
  <p>Zero values (0) represent minimum observed risk in simulation, but do not indicate "no risk", there is always some "residual risk".</p>
</div>
</div>
