<div
    class="summary"
    *ngIf="study.properties != undefined"
>
    <div class="summary-content">
        <div class="thick border">

            <div class="ui top attached raised blue menu">
                <div class="header item">Study Area: {{study.properties.sim_name}}</div>
                <div class="right menu">
                    <a
                        class="ui red inverted item"
                        (click)="closeThis()"
                    ><i class=" close icon"></i></a>
                </div>
            </div>

            <app-study-toolbar></app-study-toolbar>
            
            <div class="ui attached raised segment">
                <app-spiderchart
                    [area]="study.properties.sim_name"
                    [chart_title]="'Collective Losses using Landscape and Edge Treatments'"
                    [description] = "'Smaller shape is better.'"
                    [positions]="selectedItems"
                #spider></app-spiderchart>
                
            </div>
            
            <div class="ui bottom attached raised segment">

                        <app-matrix-selector
                            [study_area]="study"
                            (selectedItems)="onSelectedItemsChange($event)"
                            #mtx
                        ></app-matrix-selector>
                        
            </div>
        </div>
    </div>
</div>