<div
    class="summary"
    *ngIf="study.properties != undefined"
>
  <div class="summary-content">
    <div class="thick border">
      <div class="ui top attached raised blue menu">
        <div class="header item">Study Area: {{study.properties.sim_name}}</div>
        <div class="right menu">
          <a
              class="ui red inverted item"
              (click)="closeThis()"
          ><i class=" close icon"></i></a>
      </div>
  </div>
  
      <app-study-toolbar></app-study-toolbar>
      <div class="ui bottom attached raised segment">
        <!-- <pre><code>{{ study | json }}</code></pre> -->
        <p>{{blurb}}</p>

        <app-matrix-selector [study_area]="study" #mtx></app-matrix-selector>
        <app-matrix-plot></app-matrix-plot>
        
        
      </div>
    </div>
  </div>
</div>