<div class="ui field">
    <label>Chart Style</label><sui-select class="selection"
                    [(ngModel)]="scope"
                    [options]="seriesList"
                    (selectedOptionChange)="onChartTypeChange($event)
                    "#select>
    <sui-select-option *ngFor="let option of select.filteredOptions"
                   [value]="option">
    </sui-select-option>
</sui-select>
</div>

<jqxChart #myChart
[width]="'calc(100%)'"
[height]="'calc(33vh)'"
[title]="chart_title"
[description]="description"
[showLegend]="false"
[enableAnimations]="true"
[padding]="padding"
[titlePadding]="titlePadding"
[source]="source"
[xAxis]="xAxis"
[seriesGroups]="seriesGroups"
[colorScheme]="'scheme02'"
[backgroundColor]="'#FFFFFF'">
</jqxChart>