<div class="ui flex-container">
    <!-- <label>Chart Style</label>

    <sui-select
        class="selection"
        [(ngModel)]="scope"
        [options]="seriesList"
        (selectedOptionChange)="onChartTypeChange($event)
                    "
        #select
    >
        <sui-select-option
            *ngFor="let option of select.filteredOptions"
            [value]="option"
        >
        </sui-select-option>
    </sui-select> -->
    <!-- [width]="'calc(100%)'"
    [height]="'calc(100%)'" -->
    <jqxChart
        #myChart
        class="jqxsized"
        width="550"
        height="550"
        [title]="chart_title"
        [description]="description"
        [showLegend]="false"
        [enableAnimations]="true"
        [padding]="padding"
        [titlePadding]="titlePadding"
        [source]="source"
        [xAxis]="xAxis"
        [seriesGroups]="seriesGroups"
        [colorScheme]="'scheme03'"
        [backgroundColor]="'#FFF'"
    >
    </jqxChart>
</div>