<div class="ui masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">Welcome to the Prescribed Burning Atlas Project</h1>
    </div>
</div>
<div class="ui segment vertical stripe page">
    <div class="ui container">
        <div class="ui raised stackable divided grid">
            <div class="ui eight wide column">

                <p class="intro"></p>

                <p></p>

            </div>
            <div class="ui eight wide column">
                <p></p>

                <p></p>
                
            </div>
        </div>
    </div>
</div>
