<!-- draft changes to mapbox styles. Remove this from production! -->
<mgl-map
    [style]="'mapbox://styles/anthonyrawlinsuom/cjz27t7x1594x1cpklj1anw95/draft'"
    [zoom]="[4.9]"
    [center]="[141.2, -35.557]"
    (mouseMove)="onMouseMove($event)"
    #map
>
<mgl-control
     mglNavigation
     position="top-left"
   ></mgl-control>
   <mgl-control
     mglScale
     unit="metric"
     position="bottom-left"
   ></mgl-control>
  <mgl-geojson-source
      id="ignitions-source"
      [data]="ignitions"
  >
    <mgl-feature
        *ngFor="let g of ignitions.features"
        [geometry]="g.geometry"
        properties="g.properties"
        id="g.id"
    ></mgl-feature>
  </mgl-geojson-source>

  <mgl-geojson-source
      id="burnblocks-source"
      [data]="burnblocks"
  >
    <mgl-feature
        *ngFor="let g of burnblocks.features"
        [geometry]="g.geometry"
        properties="g.properties"
        id="g.id"
    ></mgl-feature>
  </mgl-geojson-source>

  <mgl-geojson-source
      id="study-areas-source"
      [data]="studyareas"
  >
    <mgl-feature
        *ngFor="let g of studyareas.features"
        [geometry]="g.geometry"
        properties="g.properties"
        id="g.properties.sim_name"
    ></mgl-feature>
  </mgl-geojson-source>

  <mgl-layer
      id="study-area"
      type="line"
      source="study-areas-source"
      [paint]="{
      'line-color': '#e09a20',
      'line-opacity': 0.6,
      'line-width': 2.0
    }"
  >
  </mgl-layer>



  <!-- interpolate-hcl
Produces continuous, smooth results by interpolating between pairs of input and output values ("stops"). Works like interpolate, but the output type must be color, and the interpolation is performed in the Hue-Chroma-Luminance color space.

["interpolate-hcl",
    interpolation: ["linear"] | ["exponential", base] | ["cubic-bezier", x1, y1, x2, y2 ],
    input: number,
    stop_input_1: number, stop_output_1: Color,
    stop_input_n: number, stop_output_n: Color, ...
]: Color
SDK Support	Mapbox GL JS	Android SDK	iOS SDK	macOS SDK
basic functionality

>= 0.49.0	Not yet supported	Not yet supported	Not yet supported
-->

  <mgl-layer
      id="burnblocks-layer"
      type="line"
      source="burnblocks-source"
      [paint]="{
        'line-color': '#032904',
        'line-opacity': 0.35,
        'line-width': 1.0
      }"
  >
  </mgl-layer>

  <mgl-layer
      id="burnblocks-fills-layer"
      type="fill"
      source="burnblocks-source"
      [paint]="{
          'fill-color': '#032904',
          'fill-opacity': 0.20
        }"
  >
  </mgl-layer>
  
  <mgl-layer
      id="ignitions-layer"
      type="circle"
      source="ignitions-source"
      [paint]="{
          'circle-radius': {
          'base': 2.75,
          'stops': [[12, 3], [22, 180]]
        },
        'circle-color': {
        property: 'prob',
        colorSpace: 'hcl',
        stops: [
          [0, '#646365'],
          [1, '#e20909']
        ],
        type: 'exponential'
      }
      }"
  >
  </mgl-layer>

</mgl-map>