/* You can add global styles to this file, and also import other style files */
.ui.modal.fullscreen {
    width: 100% !important;
    height: 100% !important;
    display: table !important;
    vertical-align: middle;
}
.ui.modal.fullscreen>.header {
    text-align: center;
}
.ui.modal.fullscreen>.content {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
.ui.modal.fullscreen>.actions {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.ui.modal.fullscreen>.header>*,
.ui.modal.fullscreen>.content>* {
    color: #fff;
}


.fullscreen,
mgl-map {
    width: 100vw !important;
    height: 95vh !important;
    z-index: 20;
}

.pip {
    position: absolute;
    right: 3rem;
    top: 3rem;
    z-index: 100;
    border-radius: 4.5px;
    border: solid 1px #000;
    box-shadow: 0px 5px 20px #000;
}

.pip,
.pip mgl-map {
    width: 350px !important;
    height: 350px !important;

}