<div class="ui vertical stripe segment">

    <div class="ui container">
        <h1 class="ui header">Meet the Team</h1>
        <div class="ui icon message">
            <i class="info icon"></i>
            <div class="content">
                <p>This page is under construction.</p>
                <p>This segment will be turned into a <a href="http://idangero.us/swiper/">carousel</a> soon.</p>
            </div>
        </div>
        <div class="ui three column divided grid">
            <div class="ui column">
                <!-- <div class="ui raised segment"> -->
                <h4 class="ui horizontal divider header"><i class="university icon"></i> University of Melbourne</h4>

                <div
                    class="ui three column grid"
                    #uom
                >
                    <div class="column">
                        <!-- Brett Cirulis -->
                        <div class="ui raised card">
                            <div class="image">
                                <img src='/assets/team/Brett_Cirulis.jpg'>
                            </div>
                            <div class="content">
                                <a class="header">
                                    Brett Cirulis
                                </a>
                                <div class="meta">
                                    <span class="date">
                                        <div class="line"></div>
                                    </span>
                                </div>
                                <div class="ui  description">
                                    <p>
                                        Brett Cirulis completed the Masters of Forest and Ecosystem Science in 2013. Since then, he has been working as a research assistant in the Fire Behaviour and Management group. The focus of Brett’s work up
                                        until 2016 was related to
                                        the research and development of the PHOENIX RapidFire bushfire characterisation model. In particular, the improvement of the fuel inputs through the development of a state-wide fuel classification model. His
                                        work is now focused on
                                        further
                                        model development as well as performing simulation based risk analysis for the Bushfire Natural Hazard CRC and DEWLP/INFFER prescribed burning projects.

                                    </p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui list">
                                    <a
                                        class="item"
                                        href="https://scholar.google.com.au/citations?hl=en&user=F1Z5b1sAAAAJ"
                                    >
                                        <i class="google icon"></i> Google Scholar Citations
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <!-- Trent Penman -->
                        <div class="ui raised card">
                            <div class="image">
                                <img src='/assets/team/Trent_Penman.jpg'>
                            </div>
                            <div class="content">
                                <a class="header">
                                    Trent Penman
                                </a>
                                <div class="meta">
                                    <h4 class="header">Associate Professor</h4>
                                </div>
                                <div class="ui  description">
                                    <p>Trent is a bushfire risk modeller interested in all aspects of bushfire management. His work covers a range of theoretical and applied aspects of bushfire behaviour and management. The main focus of his
                                        research is optimising
                                        management
                                        expenditure to reduce the risk of detrimental fire impacts on people, property and the environment.</p>
                                    <p>Trent’s early research was in conservation biology focusing on amphibians. During his PhD, he worked with Forests NSW and learnt the applied fundamentals of forest and fire management. His post-doctoral
                                        research began with fire
                                        ecology
                                        and shifted to focusing on trade-offs between human and natural assets.</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui list">
                                    <a
                                        class="item"
                                        href="https://scholar.google.com.au/citations?user=AA3N2YYAAAAJ&hl=en&oi=ao"
                                    >
                                        <i class="google icon"></i> Google Scholar Citations
                                    </a>
                                    <a
                                        class="item"
                                        href="https://twitter.com/trentpenman"
                                    >
                                        <i class="twitter icon"></i> @trentpenman
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <!-- Anthony Rawlins -->
                        <div class="ui raised card">
                            <div class="image">
                                <img src='/assets/team/Anthony_Rawlins.jpg'>
                            </div>
                            <div class="content">
                                <a class="header">
                                    Anthony Rawlins
                                </a>
                                <div class="meta">
                                    <h4 class="header">Associate Research Fellow</h4>
                                    <p>University of Wollongong</p>
                                    <p>Research Fellow - University of Melbourne</p>
                                </div>
                                <div class="ui  description">
                                    <p>Among other things, Anthony is a full stack developer and graphic designer.</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui list">
                                    <a
                                        href="https://github.com/AnthonyRawlinsUoM"
                                        class="item"
                                    ><i class="github icon"></i> GitHub</a>
                                    <a
                                        href="https://www.researchgate.net/profile/Anthony_Rawlins3"
                                        class="item"
                                    ><i class="file alternate icon"></i> Reseachgate</a>
                                    <a
                                        class="item"
                                        href="https://au.linkedin.com/in/anthonylewisrawlins"
                                    >
                                        <i class="linkedin icon"></i> LinkedIn
                                    </a>
                                    <a
                                        class="item"
                                        href="https://twitter.com/tony_rawlins"
                                    >
                                        <i class="twitter icon"></i> @tony_rawlins
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- </div> -->
            </div>

            <div class="ui column">
                <!-- <div class="ui raised segment"> -->
                <h4 class="ui horizontal divider header"><i class="university icon"></i> University of Wollongong</h4>
                <div
                    class="ui three column grid"
                    #uow
                >
                    <div class="column">
                        <!-- Ross Bradstock -->
                        <div class="ui raised card">
                            <div class="image">
                                <img src='/assets/team/Ross_Bradstock.jpg'>
                            </div>
                            <div class="content">
                                <a class="header">
                                    Ross Bradstock
                                </a>
                                <div class="meta">
                                    <h4 class="header">Professorial Fellow</h4>
                                    <p>Faculty of Science, Medicine and Health</p>
                                    <p>Centre for Sustainable Ecosystem Solutions</p>
                                    <p>School of Biological Sciences</p>
                                </div>
                                <div class="ui  description">
                                    <p></p>
                                </div>
                            </div>
                            <div class="extra content">
                                <a href="">
                                    <i class="twitter icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <!-- Owen Price -->
                        <div class="ui raised card">
                            <div class="image">
                                <img src='/assets/team/Owen_Price.jpg'>
                            </div>
                            <div class="content">
                                <a class="header">
                                    Owen Price
                                </a>
                                <div class="meta">
                                    <h4 class="header">Senior Research Fellow, Bushfire Smoke</h4>
                                    <p>Faculty of Science, Medicine and Health</p>
                                    <p>Centre for Sustainable Ecosystem Solutions</p>
                                </div>
                                <div class="ui description">
                                    <p>Owen conducts research on bushfire risk. This includes impacts on human health (smoke), assets (houses), and environmental values (fauna and flora).</p>
                                    <p>The methods involve a range of field work (e.g. monitoring reptiles or smoke), data management (including advanced Geographic Information Systems and remote sensing) and statistical modelling.</p>
                                    <p>The approach is a landscape one: understanding how risk varies across large areas.</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui list">
                                    <a
                                        class="item"
                                        href="https://scholars.uow.edu.au/display/owen_price"
                                    >
                                        <i class="file icon"></i>
                                        Scholars
                                    </a>
                                    <a
                                        class="item"
                                        href="https://scholar.google.com/citations?user=wgkVr9MAAAAJ&hl=en"
                                    ><i class="google icon"></i> Google Scholar Citations</a>
                                    <a
                                        class="item"
                                        href="https://twitter.com/OwenBushfire"
                                    >
                                        <i class="twitter icon"></i> @OwenBushfire
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="column">
                        <!-- Hamish Clarke -->
                        <div class="ui raised card">
                            <div class="image">
                                <img src='/assets/team/Hamish_Clarke.jpg'>
                            </div>
                            <div class="content">
                                <a class="header">
                                    Hamish Clarke
                                </a>
                                <div class="meta">
                                    <h4 class="header">Research Fellow</h4>
                                    <p>Centre for Environmental Risk Management of Bushfires</p>
                                    <p>School of Earth, Atmospheric and Life Sciences</p>
                                    <p>Faculty of Science, Medicine and Health</p>
                                </div>
                                <div class="ui description">
                                    <p>Dr Hamish Clarke is a member of the Centre for Environmental Risk Management of Bushfires (CERMB) at UOW and a part of the NSW Bushfire Risk Management Research Hub. He is interested in the drivers of bushfire risk, including under climate change. He is based partly out of the Hawkesbury Institute for the Environment (HIE) at Western Sydney University. Hamish is co-convenor of Science at the Local, a community science initiative in the Blue Mountains, and creator of the Four Friends of Fire animation.</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui list">
                                    <a
                                        class="item"
                                        href="https://scholar.google.com.au/citations?user=pJtqQ0EAAAAJ&hl=en"
                                    >
                                        <i class="google icon"></i> Google Scholar Citations
                                    </a>
                                    <a
                                        class="item"
                                        href="https://twitter.com/SciAtTheLocal"
                                    >
                                        <i class="twitter icon"></i> @SciAtTheLocal
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>

            <div class="ui column">
                <!-- <div class="ui raised segment"> -->
                <h4 class="ui horizontal divider header"><i class="university icon"></i> Western Sydney University</h4>
                <div
                    class="ui three column grid"
                    #syd
                >

                    <div class="column">
                        <!-- Matthias Boer -->
                        <div class="ui raised card">
                            <div class="image">
                                <img src='/assets/team/Matthias_Boer.jpg'>
                            </div>
                            <div class="content">
                                <a class="header">
                                    Matthias Boer
                                </a>
                                <div class="meta">
                                    <h4 class="header">Associate Professor</h4>
                                    <p>Western Sydney University</p>
                                    <p>Hawkesbury Institute for the Environment</p>
                                </div>
                                <div class="ui description">
                                    <p>Associate Professor Matthias Boer's research interest focuses on the landscape ecology and management of fire-prone environments.</p>
                                    <p>He is particularly interested in the biophysical basis for spatial variation in current and future fire regimes, and in the mechanisms and feedbacks by which fire may mediate, reinforce or constrain impacts of
                                        changing climate, [CO2]
                                        or
                                        land use on ecosystem functions and services such as regulation of water and carbon fluxes or biodiversity conservation. </p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui list">
                                    <a
                                        class="item"
                                        href="https://scholar.google.com.au/citations?hl=en&user=0bQeCP8AAAAJ"
                                    >
                                        <i class="google icon"></i> Google Scholar Citations
                                    </a>
                                    <a
                                        class="item"
                                        href="https://twitter.com/MatthiasBoer"
                                    >
                                        <i class="twitter icon"></i> @MatthiasBoer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- </div> -->
            </div>
        </div>


    </div>

</div>
