.matrix {

    width: calc((32px * 9));
    height: calc((32px * 9));

    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    margin-bottom: 32px;
    margin-right:32px;
}

/* .matrix .mrow {
    flex-direction: row-reverse;
} */

.matrix .mcol {
    flex-direction: row-reverse;
}
.matrix .ncol {
    width: 32px;
    height: 32px;
}
.matrix .dcol {
    width: 32px;
    height: 256px;
}
.matrix .wcol {
    width: 224px;
    height: 32px;
    text-align: center;
}
.matrix .dcol label,
.matrix .wcol label,
.matrix .ncol label {
    vertical-align: middle;
    text-align: center;
    width: 32px;
    height: 32px;
}

.matrix .dcol label {
    transform: rotate(90deg);
    transform-origin: bottom left;
}

.matrix .cell,
.matrix .cellbin {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.relaxed {
    padding: 1em;
}

.matrix .cell .highlight {
    border: none;
}

.matrix .cell:hover .highlight {
    border: 1px #641 dashed;
}

.pivot {
    transform: rotate(-90deg) translate(-100px, -32px);
    width: 100px;
}
.wrap {
  white-space: pre-wrap;
  max-width: 330px;
}
.lcol {
  max-height: 256px;
  position:absolute;
  right: -32px;
  top:0;
  max-width: 16px;
}
