.matrix {
    
    width: calc((32px * 10));
    height: calc((32px * 10));
    
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}

/* .matrix .mrow {
    flex-direction: row-reverse;
} */

.matrix .mcol {
    flex-direction: row-reverse;
}
.matrix .ncol {
    width: 32px;
    height: 32px;
}
.matrix .dcol {
    width: 64px;
    height: 256px;
}
.matrix .wcol {
    width: 224px;
    height: 32px;
}
.matrix .dcol label,
.matrix .wcol label,
.matrix .ncol label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}

.matrix .dcol label {
    transform: rotate(90deg);
    transform-origin: top left;
}

.matrix .cell,
.matrix .cellbin {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.relaxed {
    padding: 1em;
}

.matrix .cell .highlight {
    border: none;
}

.matrix .cell:hover .highlight {
    border: 1px #641 dashed;
}
