<div class="ui segment vertical stripe">
    <div class="ui container">
        <div class="ui raised segment">
            <h2 class="ui header">Publications</h2>
            <div class="ui masthead">

            </div>
            <div
                class="ui relaxed divided list"
                *ngIf="dois !== undefined"
            >
                <div
                    class="ui item"
                    *ngFor="let ref of dois"
                >
                    <a href="https://doi.org/{{ ref.doi}}">{{ref.doi}}</a>
                    <div
                        class="citation"
                        innerHTML="asCitation(ref.doi)"
                    ><i class="circle notch icon"></i></div>
                </div>

            </div>
        </div>
        <div class="ui raised segment">
            <h3 class="ui header">Links</h3>
            <div class="ui relaxed divided list">
                <div class="ui item"><a
                        href="https://www.bnhcrc.com.au/research/understanding-mitigating-hazards/1303"
                        target="_blank"
                    >https://www.bnhcrc.com.au/research/understanding-mitigating-hazards/1303</a></div>
            </div>
        </div>
    </div>
</div>